.resize-nw {
  left: -7px;
  top: -7px;
  transform-origin: center;
  cursor: nwse-resize;
}

.resize-ne {
  right: -7px;
  top: -7px;
  transform-origin: center;
  cursor: nesw-resize;
}

.resize-sw {
  left: -7px;
  bottom: -7px;
  transform-origin: center;
  cursor: nesw-resize;
}

.resize-se {
  right: -7px;
  bottom: -7px;
  transform-origin: center;
  cursor: nwse-resize;
}
